* {
    -border-color: #1c1e22;

    -top-bar-color: #1e2124;

    -bottom-bar-color: #282b30;
    -bottom-bar-border: #1c1e22;

    -tooltip-background-color: #7289da;

    -top-bar-menu-button-text-fill: #afb0b2;
    -top-bar-menu-button-hover-color: #2e3136;
    -top-bar-menu-button-hover-text-fill: #aaabad;
    -top-bar-menu-button-pressed-color: #FFF;
    -top-bar-menu-button-pressed-text-fill: #36393e;

    -left-menu-background-color: #2e3136;

    -window-background-color: #36393e;
}

.background {
    -fx-background-color: #36393e;
    -fx-border-color: #1c1e22;
    -fx-border-width: 1;
}

.top-bar {
    -fx-background-color: #1e2124;
}

.label {
    -fx-text-fill: #afb0b2;
}

.menu-item .label, .combo-box-popup .list-view .list-cell {
    -fx-text-fill: #a2a3a5;
}

.menu-item:hover .label, .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #f5f5f6;
}

.menu-item, .combo-box-popup .list-view .list-cell {
    -fx-background-color: transparent;
}

.menu-item:hover, .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #25282d;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: #282b30;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: #1e2124;
}

.combo-box .cell {
    -fx-text-fill: #a2a3a5;
}

.text-field, .combo-box {
    -fx-background-color: #282b30;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: #1e2124;
    -fx-prompt-text-fill: #5d6064;
    -fx-text-fill: #b4b5b7;
    -fx-pref-height: 30px;
}

.combo-box-popup > .list-view {
    -fx-background-color: #282b30;
    -fx-background-radius: 0 0 5 5;
    -fx-border-width: 0 1 1 1;
    -fx-border-radius: 0 0 5 5;
    -fx-border-color: #1e2124;
}

.combo-box:showing {
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-border-width: 1 1 0 1;
}

.combo-box > .text-field {
    -fx-background-color: #282b30;
    -fx-background-radius: 5px;
    -fx-prompt-text-fill: #5d6064;
    -fx-text-fill: #b4b5b7;
    -fx-border-width: 0px;
}

.combo-box > .arrow-button {
    -fx-background-color: #282b30;
}

.combo-box > .arrow-button > .arrow {
    -fx-background-color: white;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 15;
}

.scroll-bar > .thumb {
    -fx-background-color: #1e2124;
    -fx-opacity: 0.5;
    -fx-background-radius: 10;
}

.scroll-bar:hover > .thumb {
    -fx-opacity: 1;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.button {
    -fx-background-color: -bottom-bar-color;
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: -bottom-bar-color;
}

.button-accept {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-color: transparent;
    -fx-background-image: url("../Images/Other/accept.png");
}

.button-accept:hover {
    -fx-background-image: url("../Images/Other/accept-hover.png");
    -fx-background-color: transparent;
}

.button-cancel {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-color: transparent;
    -fx-background-image: url("../Images/Other/cancel.png");
}

.button-cancel:hover {
    -fx-background-image: url("../Images/Other/cancel-hover.png");
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: #282b30;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: #1e2124;
    -fx-padding: 5;
}

.list-view .list-cell {
    -fx-text-fill: #5d6064;
    -fx-background-color: transparent;
}

.list-view .list-cell:hover {
    -fx-text-fill: #FFFFFF;
}

.list-view .list-cell:selected {
    -fx-text-fill: #FFFFFF;
}

.check-box .box {
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: #72767d;
    -fx-background-color: transparent;
}

.check-box:selected .mark {
    -fx-background-color: #FFFFFF;
}