.progress-indicator:indeterminate {
    -fx-progress-color: white;
    -fx-effect: dropshadow(gaussian, #1e2124, 10, 0, 0, 5);
    -fx-background-insets: 5px;
}

.label {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #1e2124, 10, 0, 0, 5);
}