<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/publication_analysis</property>
        <property name="connection.username">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.rating.application.Entity.AuthorEntity"/>
        <mapping class="com.rating.application.Entity.AuthorCertificateEntity"/>
        <mapping class="com.rating.application.Entity.AuthorPatentEntity"/>
        <mapping class="com.rating.application.Entity.CertificateEntity"/>
        <mapping class="com.rating.application.Entity.CityEntity"/>
        <mapping class="com.rating.application.Entity.CollectionEntity"/>
        <mapping class="com.rating.application.Entity.ConferenceEntity"/>
        <mapping class="com.rating.application.Entity.DepartmentEntity"/>
        <mapping class="com.rating.application.Entity.EditionEntity"/>
        <mapping class="com.rating.application.Entity.FormConferenceEntity"/>
        <mapping class="com.rating.application.Entity.KeywordsEntity"/>
        <mapping class="com.rating.application.Entity.LevelConferenceEntity"/>
        <mapping class="com.rating.application.Entity.PatentEntity"/>
        <mapping class="com.rating.application.Entity.PositionAuthorEntity"/>
        <mapping class="com.rating.application.Entity.PowerAuthorEntity"/>
        <mapping class="com.rating.application.Entity.PublicationEntity"/>
        <mapping class="com.rating.application.Entity.RankAuthorEntity"/>
        <mapping class="com.rating.application.Entity.RegistrationPlaceEntity"/>
        <mapping class="com.rating.application.Entity.ScientometricBaseEntity"/>
        <mapping class="com.rating.application.Entity.ThemeCollectionEntity"/>
        <mapping class="com.rating.application.Entity.TypeCertificateEntity"/>
        <mapping class="com.rating.application.Entity.TypeCollectionEntity"/>
        <mapping class="com.rating.application.Entity.TypeConferenceEntity"/>
        <mapping class="com.rating.application.Entity.TypePatentEntity"/>
        <mapping class="com.rating.application.Entity.TypePublicationEntity"/>

    </session-factory>
</hibernate-configuration>